.pln{color:#000}
@media screen{
	.str{color:#080}
	.kwd{color:#008}
	.com{color:#800}
	.typ{color:#606}
	.lit{color:#066}
	.pun,.opn,.clo{color:#660}
	.tag{color:#008}
	.atn{color:#606}
	.atv{color:#080}
	.dec,.var{color:#606}
	.fun{color:red}
}
@media print,projection{
	.str{color:#060}
	.kwd{color:#006;font-weight:bold}
	.com{color:#600;font-style:italic}
	.typ{color:#404;font-weight:bold}
	.lit{color:#044}
	.pun,.opn,.clo{color:#440}
	.tag{color:#006;font-weight:bold}
	.atn{color:#404}.atv{color:#060}
}

ol.linenums{margin: 0 0 0 40px;color:#2BA5D8;white-space: normal; list-style: outside decimal}
li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9{
	border-left:1px solid #D1D7DC;
	padding:0 5px;
	line-height:23px;
	background-color:#FAFAFA;
	text-indent: 0;
}

code.prettyprint {
	position: relative;
	border: 0;
	border: 1px solid #D1D7DC;
	margin-left: 0;
	padding: 2px;
	font-size: 14px;
	display: block;
	font-family: "Consolas",\5FAE\8F6F\96C5\9ED1;
	margin: 10px 0;
	white-space: normal;
	word-wrap: break-word;
}
